.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie-poster{
    height: 400px;
    width: 300px;
    margin-right: 20px;
}
.align-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    width: 250px;
}